# UI
streamlit==1.38.0

# PDF parsing
PyPDF2==3.0.1

# Vector DB
chromadb==0.5.5

# LLM tooling
langchain==0.2.12
langchain-core==0.2.23
langchain-community==0.2.11

# Google Gemini API
google-genai==0.3.0

# Env config
python-dotenv==1.0.1

# Utils
tqdm==4.66.5
numpy==1.26.4
